@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* thin:100, light:300, regular:400, medium:500, bold:700, black:900 */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  overflow: auto;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
